.google-btn {

    width: auto;
    padding: 0 25px;
    height: 46px;

    background-color: #f0f0f0;
    color: #444;

    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background 0.2s;
}

.google-btn:hover {
    background-color: #e4e4e4;
}

.btn-wrapper {

    width: auto;
    display: block;
}

.maps-logo {
    height: 24px;
}

.google-btn p {
    padding: 0;
    margin: 0;
}