
.map-view-wrapper {
    flex: 1;
    display: flex;
    height: calc(100vh - 74px);
    position: relative;
    /*padding-top: 74px;*/
}


.map-view {
    width: 80%;
    height: 100%;
    display: flex;
    transition: width 0.6s ease, opacity 0.6s ease, width 0.6s ease;
}

.no-spot {
    width: 100%;
}

.info-view {
    height: calc(100% - 20px);
    background-color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    transition: transform 0.6s ease, opacity 0.6s ease, width 0.6s ease;
}

.info-view.open {
    width: max(20%, 350px);
    transform: translateX(0);
    opacity: 1;
}

.info-view.closed {
    transform: translateX(-100%);
    opacity: 0;
    width: 0;
}

.no-current-spot {
    height: calc(100% - 20px);
    width: 0;
    min-width: 0;
    transition: width 2s;
}


.photos-info-wrapper {
    height: 45%;
    width: 90%;
    /*background-color: #eaeaea;*/
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.current-photo-wrapper {
    /*height: 100%;*/
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}


.spot-info-wrapper {
    width: 90%;
    height: calc(55% - 70px);
    display: flex;
    flex-direction: column;
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
    opacity: 0;
}

.photos-info-wrapper:hover .slick-prev{
    opacity: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
    opacity: 0;
}

.photos-info-wrapper:hover .slick-next{
    opacity: 1;
}


.slider-container {
    height: 100%;
}

.slick-slide {
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.slick-slider {
    height: 100%;
}



.photo-wrapper {
    position: relative;
    height: 70%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}




.photo-info-wrapper {
    position: absolute;
    height: fit-content;
    min-height: 32%;
    width: 100%;
    bottom: 0;
    background: rgba(50, 50, 50, 0.5);
    color: white;
    /*padding: 0 10px 0 10px;*/
    /*box-sizing: border-box;*/

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}


/*.spot-photo {*/
/*    !*TODO - zmienić wysokość rodzica i wtedy height 70%*!*/
/*    height: 300px;*/
/*    max-width: 100%;*/
/*    object-fit: contain;*/
/*}*/

.spot-photo {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
    transition: filter 0.3s ease;
}


.caption {
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
}


.author {
    text-align: right;
    padding: 0 10px 10px;
    font-size: 14px;
    color: #ffffff;
    /*font-weight: bold;*/
}

.spot-name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.label {
    margin: 0;
    color: #888888;
    padding: 30px 0 0;

}

.descr {
    text-align: justify;
}

.no-photos{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.no-photos h2{
    text-align: center;
    padding-bottom: 20px;
}

.no-photos p{
    text-align: center;
    padding-bottom: 20px;
}

/* po najechaniu na całość photos-info-wrapper pokaz nakładkę */
.photos-info-wrapper:hover .photo-info-wrapper {
    opacity: 1;
    pointer-events: auto;
}

.slick-list{
    height: 100%!important;
}

.slick-track{
    height: 100%;
}


